.img-fluid {
    max-width: 14rem;
    height: auto;
}
.modal-dialog .modal-dialog-centered{
    min-width: 58rem !important;
}
.bg-gradient-default {
    background: linear-gradient(87deg, #c11306 0, #c30042 100%) !important;
}
